@import "variaveis";
@import "mixins";

@include themable();

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter';
}

body{
    background-color: var(--fundo);
}

.box{
    padding: 16px;
    border-radius: var(--border-radius);
    background-color: var(--cards);
    box-shadow: var(--box-shadow);
}

.h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: var(--cinza-nav);
}

.h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--cinza-nav);
}

.button-select{
    border-radius: 8px;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    color: var(--cinza-nav);
    font-size: 14px;

}

.button-rosa{
    background-image: linear-gradient(to right, var(--rosa), var(--roxo));
    border-radius: var(--border-radius);
    color: var(--cards);
    width: 100%;
    height: 48px;
    border: none;
    box-shadow: 
        0 10px 15px 0 rgba(0, 0, 0, 0.10),
        0 4px 6px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
    @include flex(row, center,center);
    font-size: 14px;

    &.disabled{
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.button-voltar{
    background-image: none;
    background-color: var(--cinza-claro);
    color: var(--cinza-nav);
}

.btn-dash{
    font-weight: normal;

    @media all and (min-width: 768px){
        background-color: yellow;
        width: 224px;
        height: 38px;
        position: absolute;
        top: 16px;
        right: 28px;
    }
}

.avatar-img{
    width: 40px;
    height: 40px;
    border-radius: 999px;
}

.h1-top{
    @media all and (min-width: 768px){
        height: 80px;
        background-color: var(--cards);
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
        border-left: 1px solid rgba(0, 0, 0, 0.06);
        width: calc(100vw - 256px - 16px);
        position: absolute;
        left: 256px;
        top: 0;
        @include flex(row, start, center);
        padding-left: 32px;
    }
}

.input{
    outline: none;
    width: 256px;
    border-radius: 8px;
    height: 36px;
    padding-left: 8px;
    border: var(--input-border);
    background-color: var(--input-bg);
    border: var(--input-border);
    color: var(--input-text);
    box-shadow: var(--input-shadow);
    
    &:hover{ border: var(--input-border-hover) };
    &:focus { border: var(--input-border-focus); box-shadow: var(--input-shadow-focus) };
    &::placeholder{ color: var(--input-placeholder); };
}

.boxes{
    width: 100%;
    @include flex(row, space-between, center);
    gap: 16px;
    flex-wrap: wrap;
}

.box-lists{
    width: 100%;
    @include flex(column, center, center);
    padding-top: 24px;
    gap: 32px;
    color: var(--cinza-nav);

    .top{
        width: 100%;
        @include flex(row, space-between, center);
    }
    
    .titles{
        width: 100%;
        @include flex(row, start, center);
        text-transform: uppercase;
        font-size: 12px;
        p{
            flex: 1;
            text-align: center;
            font-weight: 700;
        }
    }

    .item{
        width: 100%;
        @include flex(row, space-between, center);
        font-size: 12px;
        flex: 1;
        gap: 12px;
        p, button{
            flex: 1;
            text-align: center;
            background: none;
            border: none;
        }
        .avatar-img{
            width: 20px;
            height: 20px;
        }
        .avatar-area{
            @include flex(row, center, center);
            gap: 8px;
            flex: 1;
            text-align: center;
        }
        }
}

.employee-list-item{
    width: 100%;
    @include flex(row, space-between, center);

    .right{
        @include flex(column, center, end);
        gap: 8px;
    }
}

.confirmation{
    @include flex(column, start, start);
    width: 100%;
    gap: 16px;
    margin-top: 16px;

    .finally-resume{
        @include flex(column, start, start);
        width: 100%;
        gap: 16px;
        font-size: 12px;
        color: var(--cinza-nav);

        p{
            @include flex(row, space-between, center);
            gap: 8px;

            &.total{
                color: var(--rosa-nav);
                font-weight: 700;
                font-size: 13px
            }
        }
    }

    .right{
        @include flex(column, center, center);
        width: 100%;
        gap: 24px;
    }

    @media all and (min-width: 768px){
        height: 80px;
        background-color: var(--cards);
        box-shadow: var(--box-shadow-bottom);
        border-left: 1px solid rgba(0, 0, 0, 0.06);
        width: calc(100vw - 256px - 16px) !important;
        position: fixed;
        left: 256px;
        bottom: 0;
    
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding-right: 24px;
        @include flex(row, space-between, center);
        padding-left: 40px;

        .finally-resume{
            flex-direction: row;
        }

        .right{
            @include flex(row, start, start);
            gap: 16px;
            width: initial;

            .button-rosa{
                width: 150px;
                height: 40px;
            }
        }
        
    }
}

.new-appointment-list{
    width: 100%;
    @include flex(column, center, start);
    gap: 16px;

    h2{
        flex: 1 1 100%
    }

    @media all and (min-width: 768px){
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: stretch;   
    }
}

.new-appointment-list-item{
    width: 100%;
    color: var(--cinza-nav);
    box-shadow: var(--box-shadow-item);
    border-radius: 12px;
    padding: 18px 12px;
    cursor: pointer;

    .left{
        @include flex(column, start, start);
        gap: 8px;
    }

    &.checked{
        border: 2px solid var(--rosa-nav);
        box-shadow: none;
    }

    .service-check{
        appearance: none;
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border-radius: 999px;
        background-color: transparent;
        box-shadow: var(--box-shadow-checkbox);

        &:checked{
            background-color: var(--cards);
            border: 5px solid var(--rosa-nav);
            box-shadow: none;
        }
    }
}

.box-modal{
    position: fixed;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    max-height: 90vh;

    width: 90%;
    @include flex(column, flex-start, start);
    gap: 24px;
    color: var(--cinza-nav);
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 
                0 8px 10px -6px rgba(0, 0, 0, 0.1) !important;

    .top{
        width: 100%;
        @include flex(row, space-between, center);

        .title{
            font-weight: bold;
        }

        .icon{
            cursor: pointer;
            color: var(--rosa);
        }
    }

    hr{
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.301);
    }

    .button-rosa:last-child{
        background-image: none;
        background-color: var(--rosa);
    }

    .form{
        width: 100%;
        @include flex (column, flex-start, center);
        gap: 32px;
        padding-right: 16px;
        overflow-y: auto;

        .two-wrappers{
            width: 100%;
            @include flex(row, space-between, center);
            gap: 16px;
        }

        .service-wrapper{
            @include flex(row, space-between, center);
            width: 100%;
            margin-bottom: 8px;

            .icon{
                color: #3696e4;
                cursor: pointer;
            }
        }

        .wrapper-input{
            @include flex (column, center, start);
            width: 100%;
            gap: 8px;

            .input{
                width: 100%;
            }

            textarea{
                height: 100px;
            }

            img{
                width: 100px;
                height: 100px;
                border-radius: 999px;
                align-self: center;
            }

            .buttons{
                @include flex(row, space-between, center);
                gap: 16px; 


                .button-remove{
                    color: var(--rosa);
                    border-color: var(--rosa);
                }
            }
        }

        .wrapper-check{
            flex-direction: row;
            justify-content: start;
            align-items: center;
        }

        .button-rosa{
            min-height: 45px;
        }
    }

    @media all and (min-width: 768px){
        width: 600px;
    }
}

.alert{
    align-self: start;
    color: var(--vermelho);
}

.categories-wrapper{
    width: 100%;
    @include flex(column, center, start);
    gap: 16px;

    .categories{
        width: 100%;
        @include flex(row, start, start);
        gap: 16px;

        .categories-li{
            @include flex(row, space-between, center);
            gap: 16px;

            .icon{
                cursor: pointer;
                color: var(--vermelho);
            }
            
            &.active{
                background-color: var(--rosa-nav);
                color: var(--cards);
            }
        }
    }
}

.box-options{
    @include flex(column, start, center);
    gap: 16px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    position: absolute;
    top: 42px;
    right: 16px;
    background-color: var(--cards);
}

.box::-webkit-scrollbar, .scroll::-webkit-scrollbar {
    width: 8px; /* Largura da barra */
}

.box::-webkit-scrollbar-track, .scroll::-webkit-scrollbar {
    background: transparent; /* Fundo da trilha transparente */
    margin: 8px 0; /* Adiciona um espaço no topo e base para não bater na curva */
}

.box::-webkit-scrollbar-thumb, .scroll::-webkit-scrollbar {
    background-color: #888; /* Cor da barrinha */
    border-radius: 20px;    /* Arredonda a própria barrinha */
    border: 2px solid var(--cor-de-fundo); /* Cria um espaçamento visual */
}

.status-pill { font-size: 10px; font-weight: 600; border-radius: 20px; padding: 2px 8px; }
.status-pill.confirmado, .status-pill.agendado { background: #e6faf3; color: #10b981; }
.status-pill.aguardando { background: #fff8e6; color: #f59e0b; }
.status-pill.cancelado{ background: #fee2e2; color: #ef4444; }
 .status-pill.ausente { background: #e7dac0; color: #6e380c; }
.status-pill.realizado { background: #f0f0f0; color: #8c89a0; }

